# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
.env
venv/
.venv/
env/
*.pyo

# Node
node_modules/
dist/
.angular/
*.log
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
